{% extends 'common/base.html' %}
{% load static %}
{% block css %}
{% include 'common/datatable_header.html' %}
{% endblock %}
{% block section %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <form method="get" id="search-users-form">
    <div class="row mb-2">
      
      <div class="col-sm-7">
        <h1 class="m-0">{{page_name|default:""}}</h1>
      </div><!-- /.col -->
    
    </div><!-- /.row -->
  
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        
        <div class="card">
          
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Location</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Zipcode</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in object_list %}
                <tr>
                  <td>{{obj.id}}</td>
                  <td>{{obj.location}}</td>
                  <td>{{obj.latitude}}</td>
                  <td>{{obj.longitude}}</td>
                  <td>{{obj.address}}</td>
                  <td>{{obj.city}}</td>
                  <td>{{obj.state}}</td>
                  <td>{{obj.country}}</td>
                  <td>{{obj.zipcode}}</td>
                </tr>
                {% endfor %}
                
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
{% endblock section %}
{%block script%}
{% include 'common/datatable_footer.html' %}
<script>
  $("#user-types").on("change", function(e){
    $("#search-users-form").submit();
  });

  $("#customCheckbox2").on("change", function(e){
    $("#search-users-form").submit();
  })
</script>
{%endblock%}