{% extends 'common/base.html' %}
{% load static %}
{% block section %}
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row pt-10">

      <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{total_member_users}}</h3>
            <p class="db-box-title">Members</p>
          </div>
          <div class="icon">
            <i class="ion ion-user"></i>
          </div>
          <a href="{% url 'member_accounts'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{total_business_users}}</h3>
            <p class="db-box-title">Businesses</p>
          </div>
          <a href="{% url 'business_accounts'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{total_ngo_users}}</h3>
            <p class="db-box-title">Non Profitable Organizations</p>
          </div>
          <a href="{% url 'ngo_accounts'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      {% comment %} <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{total_news_agencies_users}}</h3>
            <p class="db-box-title">News Agencies</p>
          </div>
          <a href="{% url 'news_agencies_accounts'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div> {% endcomment %}
    

      <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{total_normal_deals}}</h3>
            <p class="db-box-title">Deals</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="{% url 'deals' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{total_weekly_deals}}</h3>
            <p class="db-box-title">Weekly Deals</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="{% url 'weekly_deals' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{total_classifieds}}</h3>
            <p class="db-box-title">Classifieds</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="{% url 'classifieds' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

    
      <!-- ./col -->
      {% comment %} <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{total_jobs}}</h3>

            <p class="db-box-title">Jobs</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div> {% endcomment %}
      <!-- ./col -->
      
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>$ {{total_revenue|floatformat:2}}</h3>

            <p class="db-box-title">Revenue</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="{% url 'revenue' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <section class="col-lg-4">
        <div class="card">
          <canvas id="memberPlanChart"></canvas>
          <div class="text-center"><b>Member Plan Users</b></div>
        </div>
      </section>

      <section class="col-lg-4">
        <div class="card">
          <canvas id="businessPlanChart"></canvas>
          <div class="text-center"><b>Business Plan Users</b></div>
        </div>
      </section>

    </div>
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
  
{% endblock section %}
{%block script%}
{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endcomment %}
<script>
  const memberPlan = document.getElementById('memberPlanChart');

  const basic_member_users = {{basic_member_users}};
  const standard_member_users = {{standard_member_users}};
  
  const member_plan_data = {
    labels: [
      'Basic',
      'Standard'
    ],
    datasets: [{
      label: 'Total Members',
      data: [basic_member_users, standard_member_users],
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)'
      ],
      hoverOffset: 4
    }]
  };

  new Chart(memberPlan, {
    type: 'pie',
    data: member_plan_data
  });


  const businessPlan = document.getElementById('businessPlanChart');
  const basic_business_users = {{basic_business_users}};
  const standard_business_users = {{standard_business_users}};
  const corporate_business_users = {{corporate_business_users}};
  
  const business_plan_data = {
      labels: [
        'Basic',
        'Standard',
        'Corporate'
      ],
      datasets: [{
        label: 'Total Businesses',
        data: [basic_business_users, standard_business_users, corporate_business_users],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    };

    new Chart(businessPlan, {
      type: 'pie',
      data: business_plan_data
    });
</script>
{%endblock%}