{% extends 'common/base.html' %}
{% load static %}
{% block css %}
{% include 'common/datatable_header.html' %}
{% endblock %}
{% block section %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <form method="get" id="search-users-form">
    <div class="row mb-2">
      
      <div class="col-sm-12">
        <h1 class="m-0">{{page_name|default:""}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        {% include 'common/table_messages.html' %}
      </div><!-- /.col -->
    </div> 
    <div class="row mb-2"> 
      

      <div class="col-sm-3 mt-2">
        <div class="form-group clearfix">
          <div class="icheck-primary d-inline">
            <input type="radio" name="verified"  id="radioPrimary3" value="yes" {%if request.GET.verified and request.GET.verified == 'yes'%}checked{%endif%}>
            <label for="radioPrimary3">Verified</label>
          </div>
          <div class="icheck-primary d-inline">
            <input type="radio" name="verified" id="radioPrimary4" value="no" {%if request.GET.verified and request.GET.verified == 'no'%}checked{%endif%}>
            <label for="radioPrimary4">Not Verified</label>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <input type="submit" value="Search" class="btn btn-success">
        <a href="{% url 'users' %}" class="btn btn-success"><i class="fa fa-sync-alt"></i><a>
      </div>
    
      <div class="col-sm-4">
        <!--CREATE BTN HERE-->
     
      </div><!-- /.col -->
    
    </div><!-- /.row -->
  </form>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        
        <div class="card">
          
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Name</th>
                  <th class="text-center">Verified</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for user in object_list %}
                <tr  id="user-detail-row-{{user.id}}">
                  <td>{{user.id}}</td>
                  <td>
                    {%if user.online_user.first %}
                      <i class="fa fa-dot-circle online-dot"></i>
                    {% else %}
                      <i class="fa fa-dot-circle offline-dot"></i>
                    {% endif %}
                    {{user.email}}
                  </td>
                  <td>{{user.phone}}</td>
                  <td>{{user.name|default:"NA"}}</td>
                  
                  <td class="text-center">
                    {% if user.is_verified %}
                    <span class="badge badge-success">Verified</span>
                    {% else %}
                    <span class="badge badge-danger">Not Verified</span>
                    {% endif %}
                  </td>
                  <td class="text-center">
                    {% include 'account/user_action_dropdown.html' %}
                  </td>
                </tr>
                {% endfor %}
                
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
{% endblock section %}
{%block script%}
{% include 'common/datatable_footer.html' %}
<script>
  $("#user-types").on("change", function(e){
    $("#search-users-form").submit();
  });

  $("#customCheckbox2").on("change", function(e){
    $("#search-users-form").submit();
  })

  $("#customCheckbox3").on("change", function(e){
    $("#search-users-form").submit();
  })
</script>
{%endblock%}