{% extends 'common/base.html' %}
{% load static %}
{%block css%}
{% include 'common/datatable_header.html' %}
{%endblock%}
{% block section %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-3">
          <h1 class="m-0">{{page_name|default:""}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          {% include 'common/table_messages.html' %}
        </div><!-- /.col -->
        <div class="col-sm-3">
          <!--CREATE BTN HERE-->
          <a href="{% url 'plans' %}" class="btn btn-info float-right">Go Back</a>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
        
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
            <table id="example" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Plan</th>
                        <th>Feature</th>
                        <th>Numbers Allowed</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in plan_features %}
                <tr>
                    <td>{{obj.id}}</td>
                    <td>{{obj.plan.name}}</td>
                    <td>{{obj.feature}}</td>
                    <td>{{obj.numbers_allowed}}</td>
                </tr>
                {% endfor %}
                </tfoot>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
{% endblock section %}
{%block script%}
{% include 'common/datatable_footer.html' %}
{%endblock%}