{% extends 'common/base.html' %}
{% load static %}
{% block section %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
    
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-4 offset-4">
        
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    <p>Are you sure you want to delete <br><b>"{{ object.title }}"</b>?</p>
                    <input type="submit" value="Confirm" class="btn btn-primary">
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
{% endblock section %}