{% load utils %}
<div class="sidebar">
      
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link {% if 'dashboard' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'member_accounts' %}" class="nav-link {% if '/member-accounts' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Member Accounts
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'business_accounts' %}" class="nav-link {% if 'business-accounts' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Business Accounts <span class="badge badge-warning">{% pending_businesses_for_approval %}</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'ngo_accounts' %}" class="nav-link {% if 'ngo-accounts' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
                Non-Profit Organizations <span class="badge badge-warning">{% pending_ngos_for_approval %}</span>
            </p>
          </a>
        </li>

        {% comment %} <li class="nav-item">
          <a href="{% url 'news_agencies_accounts' %}" class="nav-link {% if 'news-agencies-accounts' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              News Agencies
            </p>
          </a>
        </li> {% endcomment %}

        

        <li class="nav-item">
          <a href="{% url 'plans' %}" class="nav-link {% if 'plans' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-money-bill-alt"></i>
            <p>
              Plans
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'product_prices' %}" class="nav-link {% if 'product-prices' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-money-bill-alt"></i>
            <p>
              Product Prices
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'delivery_partners' %}" class="nav-link {% if 'delivery-partner' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-plane-departure"></i>
            <p>
              Delivery Partners
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'deals' %}" class="nav-link {% if '/deals' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-hand-holding-usd"></i>
            <p>
              All Deals
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'weekly_deals' %}" class="nav-link {% if '/weekly-deals' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-hand-holding-usd"></i>
            <p>
              All Weekly Deals
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'classifieds' %}" class="nav-link {% if 'classified' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-hand-holding-usd"></i>
            <p>
              All Classifieds
            </p>
          </a>
        </li>
        

        {% comment %} <li class="nav-item">
          <a href="{% url 'news' %}" class="nav-link {% if 'news-articles' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>
              News/Articles
            </p>
          </a>
        </li> {% endcomment %}


        {% comment %} <li class="nav-item {% if 'job' in request.path %}menu-is-opening menu-open{% endif %}">
          <a href="#" class="nav-link {% if 'job' in request.path %}active{%endif%}">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Jobs
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="{%if 'content/faq' in request.path %}display: block;{%endif%}">
            <li class="nav-item">
              <a href="{% url 'faqs' %}" class="nav-link {%if 'content/faq' in request.path %}active{%endif%}">
                <i class="far fa-circle nav-icon"></i>
                <p>All Jobs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'about_us' %}" class="nav-link {%if 'content/about-us' in request.path %}active{%endif%}">
                <i class="far fa-circle nav-icon"></i>
                <p>Applications</p>
              </a>
            </li>
          </ul>
        </li> {% endcomment %}

        
        <li class="nav-item {% if 'flagged' in request.path %}menu-is-opening menu-open{% endif %}">
          <a href="#" class="nav-link {% if 'flagged' in request.path %}active{%endif%}">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Flags
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="{%if 'flagged-accounts' in request.path %}display: block;{%endif%}">
            <li class="nav-item">
              <a href="{% url 'flagged_accounts' %}" class="nav-link {%if 'flagged-accounts' in request.path %}active{%endif%}">
                <i class="far fa-circle nav-icon"></i>
                <p>Flagged Accounts</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'flagged_deals' %}" class="nav-link {%if 'flagged-deals' in request.path %}active{%endif%}">
                <i class="far fa-circle nav-icon"></i>
                <p>Flagged Deals</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'flagged_classifieds' %}" class="nav-link {%if 'flagged-classifieds' in request.path %}active{%endif%}">
                <i class="far fa-circle nav-icon"></i>
                <p>Flagged Classifieds</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'flagged_reviews' %}" class="nav-link {%if 'flagged-reviews' in request.path %}active{%endif%}">
                <i class="far fa-circle nav-icon"></i>
                <p>Flagged Reviews</p>
              </a>
            </li>

          </ul>
        </li>


        <li class="nav-item {% if 'content' in request.path %}menu-is-opening menu-open{% endif %}">
          <a href="#" class="nav-link {% if 'content' in request.path %}active{%endif%}">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Content Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="{%if 'content/faq' in request.path %}display: block;{%endif%}">
            <li class="nav-item">
              <a href="{% url 'admin_faqs' %}" class="nav-link {%if 'content/faq' in request.path %}active{%endif%}">
                <i class="far fa-circle nav-icon"></i>
                <p>Faqs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'about_us' %}" class="nav-link {%if 'content/about-us' in request.path %}active{%endif%}">
                <i class="far fa-circle nav-icon"></i>
                <p>About Us</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'terms_and_conditions' %}" class="nav-link {%if 'content/terms-and-conditions' in request.path %}active{%endif%}">
                <i class="far fa-circle nav-icon"></i>
                <p>Terms And Conditions</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'privacy_policies' %}" class="nav-link {%if 'content/privacy-policies' in request.path %}active{%endif%}">
                <i class="far fa-circle nav-icon"></i>
                <p>Privacy Policy</p>
              </a>
            </li>

            

          </ul>
        </li>

        <li class="nav-item {% if '/payment' in request.path %}menu-is-opening menu-open{% endif %}">
          <a href="#" class="nav-link {% if '/payment' in request.path %}active{%endif%}">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Payments/Expenses
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="{%if '/payment/all-orders' in request.path %}display: block;{%endif%}">
            <li class="nav-item">
              <a href="{% url 'all_orders' %}" class="nav-link {% if '/payment/all-orders' in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-dollar-sign"></i>
                <p>
                  Payment History
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'ngo_payout' %}" class="nav-link {%if '/payment/ngo-payout' in request.path %}active{%endif%}">
                <i class="fas fa-wallet nav-icon"></i>
                <p>Non Profitable Organizations Payout</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'vendors' %}" class="nav-link {%if '/payment/vendors' in request.path %}active{%endif%}">
                <i class="fas fa-shopping-basket nav-icon"></i>
                <p>Vendors</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'expenses' %}" class="nav-link {%if '/payment/expense' in request.path %}active{%endif%}">
                <i class="fas fa-wallet nav-icon"></i>
                <p>Expenses</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'revenue' %}" class="nav-link {%if '/payment/revenue' in request.path %}active{%endif%}">
                <i class="fas fa-wallet nav-icon"></i>
                <p>Revenue</p>
              </a>
            </li>

          </ul>
        </li>

        

        <li class="nav-item">
          <a href="{% url 'contact_us' %}" class="nav-link {% if '/contact-us' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-dollar-sign"></i>
            <p>
              Contact Us
            </p>
          </a>
        </li>




        <li class="nav-item menu-open">
          <a href="{% url 'logout' %}" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>
              Logout
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>