<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shuk.TV</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body  style="background-color: #f8f8f8; margin:0 ; ">
    <table width="100%" style="max-width:700px; margin: 0 auto;">
        <tr>
            <td height="20px"></td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <img src="https://shukbackend.dignitech.com/static/dist/img/site-logo.png" alt="Logo" title="Logo" style="display:block;width: 40%;margin-left: 30%;" height="60" />
            </td>
        </tr> 
        <tr>
            <td height="20px"></td>
        </tr>       
    </table>

    <table width="100%" style="max-width:700px; margin: 0 auto; background-color: #ffffff; text-align: center; border-radius: 15px; box-shadow: 0 0 10px rgba(0,0,0,.2); padding: 0 20px;">
        <tr>
            <td height="30px"></td>
        </tr>
        <tr>
            <td style="font-family: 'Inter', sans-serif; font-size: 34px; font-weight:500; color: #3B618B;">Account Details</td>
        </tr>

        <tr>
            <td height="20px"></td>
        </tr>

        <tr style="">
            <td  style="font-family: 'Inter', sans-serif; padding: 0 35px ; font-size: 16px; line-height:25px; font-weight:400; color: #434343;">
                Your account has been successfully created on Shukdeals Platform. Below are your details.
                <br>
                <b>Email:</b> {{family_member.email}}<br>
                <b>Phone:</b> {{family_member.phone}}<br>
                <b>Password:</b> {{password}}
            </td>
        </tr>

        <tr>
            <td height="20px"></td>
        </tr>

        <tr>
            <td height="20px"></td>
        </tr>
        
        <tr>
            <td  style="font-family: 'Inter', sans-serif; font-size: 15px; font-weight:400; color: #434343; text-align:left; line-height:24px;">If you didn't make this request, we recommend you get in touch with our support team and secure your account.
            </td>
        </tr>
        <tr>
            <td height="30px"></td>
        </tr>
    
    
    </table>

    <table width="100%" style="max-width:700px; margin: 0 auto;">
        <tr>
            <td height="20px"></td>
        </tr>
        <tr>
            <td style="font-family: 'Inter', sans-serif; font-size: 15px; font-weight:400; color: #434343; text-align:left; line-height:24px; text-align: center;">
                Call us at <a href="#" style="color: #3B618B; font-weight: 600; text-decoration: none;">123456987</a> or write to us at <a href="#" style="color: #3B618B; font-weight: 600;  text-decoration: none;">help@shuk.com</a>
            </td>
        </tr> 
        <tr>
            <td height="20px"></td>
        </tr>

        <tr>
            <td style="text-align: center;">
                <a href="#" target="_blank" style="display: inline-block; padding: 0 10px;"> <img src="img/facebook.svg" alt=""></a>
                <a href="#" target="_blank" style="display: inline-block; padding: 0 10px;"> <img src="img/twitter.svg" alt=""></a>
                <a href="#" target="_blank" style="display: inline-block; padding: 0 10px;"> <img src="img/instagram.svg" alt=""></a>
                <a href="#" target="_blank" style="display: inline-block; padding: 0 10px;"> <img src="img/linkedin.svg" alt=""></a>
            </td>
        </tr>

       
        <tr>
            <td height="10px"><hr style="opacity: .3;"></td>
        </tr>

       

        <tr>
            <td style="font-family: 'Inter', sans-serif; font-size: 12px; font-weight:500; color: #3B618B; text-align:left; line-height:24px; text-align: center;">
                © 2022 Shuk.tv All rights reserved.
            </td>
        </tr> 


        <tr>
            <td height="20px"></td>
        </tr>
        <tr>
            <td height="20px"></td>
        </tr>       
    </table>


</body>
</html>